@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: wheat;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 0.5rem 0;
  font-weight: bold;
}

nav .logo a {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  margin-left: 1rem;
  text-transform: lowercase;
}

nav .logo a img {
  width: 10%;
  height: auto;
  object-fit: contain;
}

nav ul {
  display: flex;
  margin-right: 1rem;
  align-items: center;
}

nav ul li {
  position: relative;
  margin: 0 0.8rem;
  list-style-type: none;
  font-size: 1rem;
}

nav ul li::after {
  content: "/";
  margin-left: 0.8rem;
  color: #333;
}

nav ul li:last-child:after {
  content: "";
}

main {
  margin-top: 3.5rem;
  flex: 1;
}

section {
  margin-top: 1.5rem;
}

.title {
  text-align: center;
  padding: 4rem;
}

.title h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.box-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 0px;
}

.box h2 {
  margin: 1.2rem;
}

.box li {
  list-style-type: none;
  border-bottom: 1px solid black;
  padding: 1rem 2rem;
}

.box li:last-child {
  border: none;
}

#work-experience {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#work-experience p {
  margin: 1rem 0;
}

#education p {
  padding: 0 1rem;
}

#education li {
  margin: 0 2rem;
  padding: 0;
  list-style-type: disc;
  border: none;
}

#review h2 {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.review-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.review-box {
  border: solid 1px black;
  border-radius: 2rem;
  padding: 1.5rem;
  width: 25%;
  margin: 1rem 3rem;
}

.review-box span {
  display: block;
  margin-top: 1rem;
  color: red;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

fieldset {
  padding: 1rem;
  margin: 0 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

legend {
  text-align: center;
  padding: 0 1.5rem;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-radius: 5%;
  text-transform: uppercase;
}

table {
  display: flex;
  padding: 1rem;
  justify-content: center;
  border-radius: 1rem;
}

label {
  font-weight: bold;
  margin-right: 1rem;
}

input {
  margin-bottom: 0.5rem;
}

input,
textarea {
  outline: none;
}

textarea {
  padding: 2rem 0;
}

button {
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10%;
  transition: 0.1s ease-out;
  max-width: 20%;
  align-self: center;
}

button:hover {
  background-color: wheat;
}

footer {
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}

@media (width < 600px) {
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }

  nav .logo a {
    display: flex;
    flex-direction: column;
  }

  nav .logo a img {
    width: 25%;
  }

  main {
    margin-top: 7.5rem;
    flex: 1;
  }

  .title {
    padding: 1rem;
  }

  .title h1 {
    font-size: 2rem;
  }

  section {
    margin-top: 1rem;
  }

  .box-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
  }

  .box:first-child {
    border-top: double black;
  }

  .box {
    margin-top: 0;
  }

  .box li {
    background-color: darkgray;
  }

  #work-experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #work-experience ul,
  #education p,
  #education li {
    text-align: left;
  }

  #education li {
    background-color: transparent;
  }

  #education ul {
    margin-bottom: 1rem;
  }

  .review-box-container {
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem;
  }

  .review-box {
    margin: 1rem 0;
    width: 100%;
  }
}

@media (width >= 600px) {
  nav ul li:hover {
    font-size: 1.1rem;
  }

  nav ul li a:hover {
    text-decoration: underline;
  }

  .box {
    border: 1px solid black;
    border-top: double black;
  }
}
