* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  background: wheat;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 0.5rem 0;
  font-weight: bold;
}

nav .logo a {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  margin-left: 1rem;
  text-transform: lowercase;
}

nav .logo a img {
  width: 10%;
  height: auto;
  object-fit: contain;
}

nav ul {
  display: flex;
  margin-right: 1rem;
  align-items: center;
}

nav ul li {
  position: relative;
  margin: 0 0.8rem;
  list-style-type: none;
  font-size: 1rem;
}

nav ul li::after {
  content: "/";
  margin-left: 0.8rem;
  color: #333;
}

nav ul li:last-child:after {
  content: "";
}

nav ul li:hover {
  font-size: 1.1rem;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  margin-top: 3.5rem;
}

section {
  margin-top: 1.5rem;
}

.title {
  text-align: center;
  padding: 5rem;
}

.title h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.box-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 0px;
}

.box {
  border: 1px solid black;
  border-top: double black;
}

.box h2 {
  margin: 1.2rem;
}

.box li {
  list-style-type: none;
  border-bottom: 1px solid black;
  padding: 1rem 2rem;
}

.box li:last-child {
  border: none;
}

#work-experience {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#work-experience p {
  margin: 1rem 0;
}

#education p {
  padding: 0 1rem;
}

#education li {
  margin: 0 2rem;
  padding: 0;
  list-style-type: disc;
  border: none;
}
